<% @stations.each do |station| %>

<h5><%= station.station_name %></h5>

<ul id="<%= station.station_name %>">
  <li><%= station.street_address %></li>
  <li><%= station.fuel_type_code %></li>
  <li>Miles Away: <%= station.distance %></li>
  <li><%= station.access_days_time %></li>
</ul>
<% end %>
